<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717539743601-62sjs8s0k4gssahvv6sckk1c7bhjnj3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717539743601-62sjs8s0k4gssahvv6sckk1c7bhjnj3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCumHyoooOu8hBUSIOHC_Psiv8jWXqv2ho</string>
	<key>GCM_SENDER_ID</key>
	<string>717539743601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmadelbaz.respectgram</string>
	<key>PROJECT_ID</key>
	<string>respectgram</string>
	<key>STORAGE_BUCKET</key>
	<string>respectgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717539743601:ios:6faf7a497864941f7b08d0</string>
</dict>
</plist>